<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card">
       <div class="fila">
           <div class="col-100 titulo">
               <h1></h1>
               <button routerLink="/crear-cliente">Añadir cliente</button>
           </div>
       </div>
       <hr>
       <table class="clientes">
           <tr>
               <th>NOMBRE</th>
               <th>CIF</th>
               <th>LOCALIDAD</th>
               <th>CORREO ELECTRÓNICO</th>
               <th></th>
           </tr>
           <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.cif}}</td>
                <td>{{cliente.direccion.localidad}}</td>
                <td>{{cliente.email}}</td>
                <td>
                    <button class="warning">
                        <img src="assets/edit.svg">
                    </button>
                    <button class="danger m-l-small" (click)="removeCliente(cliente._id)">
                        <img src="assets/trash.svg">
                    </button>
                </td>
           </tr>
       </table>
    </div>
</div>
<app-modal></app-modal>