<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card">
       <div class="fila">
           <div class="col-100 titulo">
               <h1></h1>
               <button routerLink="/crear-factura">Añadir factura</button>
           </div>
       </div>
       <hr>
       <table class="facturas">
           <tr>
               <th>CLIENTE</th>
               <th>FECHA FACTURA</th>
               <th>BASE IMPONIBLE</th>
               <th></th>
           </tr>
           <tr *ngFor="let factura of facturas">
                <td>{{factura.cliente.nombre}}</td>
                <td>{{factura.fecha | date:'dd/MM/yyyy'}}</td>
                <td>{{factura.base}}</td>
                <td>
                    <button class="success" routerLink="/visualizar-factura/{{factura._id}}">
                        <img src="assets/printer.svg">
                    </button>
                </td>
           </tr>
       </table>
    </div>
</div>
<!-- <app-modal *ngIf="modal" 
           [texto]="'¿Está seguro de eliminar el cliente?'"
           [parametro]="id"
           (action)="getAction($event)"></app-modal> -->