$main-color: #008489;
$main-color-darker: #01575a;

$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

$main-font: 'Roboto', sans-serif;
$title-font: 'Oswald', sans-serif;
$color-font: #67666e;
$color-font-lighter: #cacaca;

$main-background: linear-gradient(90deg, #008489 0%, #00708f 100%);