@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';

@import 'components/buttons';

body {
    font-family: $main-font;
    color: $color-font;
}

h1 {
    font-family: $title-font;
}

a {
    color: $main-color;

    &:hover {
        color: $main-color-darker;
    }
}