@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';

@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/forms';
@import 'components/nav';

@import 'layout/layout';

body {
    font-family: $main-font;
    color: $color-font;
    background-color: rgb(236, 236, 236);
}

h1 {
    font-family: $title-font;
}

a {
    color: $main-color;

    &:hover {
        color: $main-color-darker;
    }
}