<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card">
        <div class="fila">
            <div class="col-100 centrado">
                <button class="outline" routerLink="/listado-facturas">Cancelar</button>
                <button class="m-l-small" (click)="imprimirFra()">Imprimir</button>
            </div>
        </div>
    </div>
</div>
<div class="pagina">
    <div class="cabecera">
        <img src="assets/logo.svg">
        <div>
            <h3>ACME, S.A.</h3>
            <p>Serrano Galvache, 56</p>
            <p>28033 Madrid</p>
            <p>CIF A-12349875</p>
        </div>
    </div>
    <div class="tipo-documento">
        Factura
    </div>
    <div class="cliente">
        <p>Cliente: {{factura?.cliente.nombre}}</p>
        <p>Domicilio: {{factura?.cliente.direccion.calle}}</p>
        <p>C.P.: {{factura?.cliente.direccion.cp}} Localidad: {{factura?.cliente.direccion.localidad}}</p>
        <p>CIF: {{factura?.cliente.cif}}</p>
        <p>Correo electrónico: {{factura?.cliente.email}}</p>
    </div>
    <div class="datos">
        <div class="numero">
            Nº Fra.: {{factura?.numero}}
        </div>
        <div class="fecha">
            Fecha Fra.: {{factura?.fecha | date: 'dd/MM/yyyy'}}
        </div>
    </div>
    <div class="cuerpo">
        <pre>{{factura?.concepto}}</pre>
    </div>
    <div class="pie">
        <div class="observaciones">
            <p>Forma de pago:</p>
            <p>{{factura?.formaPago}}</p>
        </div>
        <div class="calculo">
            <p>
                <span>Base imponible:</span>
                <span>{{factura?.base}}</span>
            </p>
            <p>
                <span>IVA {{factura?.tipo * 100}} %:</span>
                <span>{{factura?.importeIVA}}</span>
            </p>
            <p>
                <span>Total Factura IVA inc.:</span>
                <span>{{factura?.total}}</span>
            </p>
        </div>
    </div>
</div>