<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card w-60">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Nuevo cliente</h1>
            </div>
        </div>
        <hr>
        <form [formGroup]="formCliente" (ngSubmit)="sendCliente()">
            <div class="fila">
                <div class="col-100 pila">
                    <label for="nombre">
                        NOMBRE
                        <span class="validate valid"
                             *ngIf="formCliente.controls.nombre.valid">
                            <img src="assets/check-circle.svg">
                        </span>
                        <span class="validate invalid"
                            *ngIf="validacion && formCliente.controls.nombre.invalid">
                            <img src="assets/alert-triangle.svg">
                            El nombre es obligatorio
                        </span>
                    </label>
                    <input class="inicio" type="text" id="nombre" formControlName="nombre" required #nombre>
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="cif">
                        CIF
                        <span class="validate valid"
                              *ngIf="formCliente.controls.cif.valid">
                            <img src="assets/check-circle.svg">
                        </span>
                        <span class="validate invalid"
                            *ngIf="validacion && formCliente.get('cif').errors &&
                                   formCliente.get('cif').errors.validCif">
                            <img src="assets/alert-triangle.svg">
                            {{formCliente.get('cif').errors.mensaje}}
                        </span>
                    </label>
                    <input class="inicio" type="text" id="cif" formControlName="cif" maxlength="9" #cif>
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="calle">
                        Calle y nº
                    </label>
                    <input type="text" id="calle" formControlName="calle">
                </div>
            </div>
            <div class="fila">
                <div class="col-33 pila">
                    <label for="cp">Código Postal</label>
                    <input type="text" id="cp" formControlName="cp">
                </div>
                <div class="col-66 pila">
                    <label for="localidad">Localidad</label>
                    <input type="text" id="localidad" formControlName="localidad">
                </div>
            </div>
            <div class="fila">
                <div class="col-66 pila">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" formControlName="email">
                </div>
                <div class="col-33 pila">
                    <label for="formaPago">Forma de pago</label>
                    <input type="text" id="formaPago" formControlName="formaPago">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 botones">
                    <button class="outline" routerLink="/listado-clientes" type="button">Cancelar</button>
                    <button class="m-l-small" *ngIf="formCliente.invalid" type="button" (click)="showValidacion()">Añadir</button>
                    <button class="m-l-small" *ngIf="formCliente.valid" type="submit">Añadir</button>
                </div>
            </div>
        </form>
    </div>
</div>
