<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card w-60">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Nuevo cliente</h1>
            </div>
        </div>
        <hr>
        <form [formGroup]="formCliente" (ngSubmit)="sendCliente()">
            <div class="fila">
                <div class="col-100 pila">
                    <label for="nombre">
                        NOMBRE
                        <span class="validate valid">
                            <img src="assets/check-circle.svg">
                        </span>
                        <!-- <span class="validate invalid">
                            <img src="assets/alert-triangle.svg">
                            El nombre es obligatorio
                        </span> -->
                    </label>
                    <input type="text" id="nombre" formControlName="nombre">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="cif">CIF</label>
                    <input type="text" id="cif" formControlName="cif">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="calle">
                        Calle y nº
                        <span class="validate invalid">
                            <img src="assets/alert-triangle.svg">
                            El nombre es obligatorio
                        </span>
                    </label>
                    <input type="text" id="calle" formControlName="calle">
                </div>
            </div>
            <div class="fila">
                <div class="col-33 pila">
                    <label for="cp">Código Postal</label>
                    <input type="text" id="cp" formControlName="cp">
                </div>
                <div class="col-66 pila">
                    <label for="localidad">Localidad</label>
                    <input type="text" id="localidad" formControlName="localidad">
                </div>
            </div>
            <div class="fila">
                <div class="col-66 pila">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" formControlName="email">
                </div>
                <div class="col-33 pila">
                    <label for="formaPago">Forma de pago</label>
                    <input type="text" id="formaPago" formControlName="formaPago">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 botones">
                    <button class="outline" routerLink="/listado-clientes">Cancelar</button>
                    <button class="m-l-small" type="submit">Añadir</button>
                </div>
            </div>
        </form>
    </div>
</div>
