<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="card w-60">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Nuevo factura</h1>
            </div>
        </div>
        <hr>
        <form [formGroup]="formFra" (ngSubmit)="sendFactura()"> 
            <div class="fila">
                <div class="col-100 pila">
                    <label for="cliente">Nombre cliente</label>
                    <input type="search" id="cliente" formControlName="cliente" autocomplete="off">
                    <div class="resultados">
                        <div class="item" 
                             *ngFor="let cliente of clientes; let i = index" 
                             (click)="setCliente(i)">
                            {{cliente.nombre}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="fila">
                <div class="col-50 pila">
                    <label for="cif">CIF</label>
                    <input type="text" id="cif" formControlName="cif" readonly>
                </div>
                <div class="col-50 pila">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" formControlName="fecha" value="{{fechaActual | date:'yyyy-MM-dd'}}">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 pila">
                    <label for="concepto">Concepto</label>
                    <textarea id="concepto" formControlName="concepto"></textarea>
                </div>
            </div>
            <div class="fila end">
                <div class="col-33 pila">
                    <label for="base">Base imponible</label>
                    <input type="number" id="base" formControlName="base">
                </div>
            </div>
            <div class="fila end">
                <div class="col-33 pila">
                    <label for="tipo">IVA</label>
                    <select id="tipo" formControlName="tipo">
                        <option value=0>0 %</option>
                        <option value=0.04>4 %</option>
                        <option value=0.1>10 %</option>
                        <option value=0.21>21 %</option>
                    </select>
                </div>
            </div>
            <div class="fila end">
                <div class="col-33 pila">
                    <label for="importeIVA">Importe IVA</label>
                    <input type="text" id="importeIVA" formControlName="importeIVA" readonly>
                </div>
            </div>
            <div class="fila end">
                <div class="col-33 pila">
                    <label for="total">Total factura IVA incluido</label>
                    <input type="text" id="total" formControlName="total" readonly>
                </div>
            </div>
            <div class="fila end">
                <div class="col-33 pila">
                    <label for="formaPago">Forma de Pago</label>
                    <input type="text" id="formaPago" formControlName="formaPago">
                </div>
            </div>
            <div class="fila">
                <div class="col-100 botones">
                    <button class="outline" routerLink="/listado-facturas">Cancelar</button>
                    <button type="submmit" class="m-l-small">Añadir</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-modal *ngIf="modal" 
           [texto]="'El cliente no existe, ¿desea crearlo?'"
           (action)="getAction($event)"></app-modal>